DJANGO_DEBUG=1
DJANGO_SECRET_KEY=dev-only-conference-system-secret-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Отдельный модуль студента 2 внутри src.
DOCX_PROCESSING_ROOT=../docx_processing

# Общий DOCX-шаблон конференции в корне проекта.
CONFERENCE_TEMPLATE_PATH=../../templates/conference_template_v1.docx

# Общее хранилище и папка заявок в корне проекта.
STORAGE_ROOT=../../storage
SUBMISSIONS_STORAGE_DIR=../../storage/submissions
