TOKEN=

DJANGO_DEBUG=1
DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

PATH_STORAGE=storage
PATH_LOGS=storage/logs
PATH_TEMPLATES=templates
PATH_CONFERENCE_TEMPLATE=templates/conference_template_v1.docx

PATH_MODULE_CONTENT_VALIDATION=src/content-validation
PATH_MODULE_DOCX_PROCESSING=src/docx_processing
PATH_MODULE_SYSTEM=src/system
PATH_MODULE_TEMA=src/tema
