{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Conference System MVP{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <header class="topbar">
    <div class="container topbar-inner">
      <a class="brand" href="{% url 'index' %}">Conference System MVP</a>
      <nav class="main-nav">
        <a href="{% url 'editorial:archive_index' %}">Архив</a>

        {% if user.is_authenticated %}

            {% if not is_editor_role %}
                <a href="{% url 'index' %}">Мои материалы</a>
                <a href="{% url 'submit' %}">Подать материал</a>
            {% endif %}

            {% if is_editor_role %}
                <a href="{% url 'editorial:editor_list' %}">Редактор</a>
                <a href="{% url 'editorial:issue_list' %}">Выпуски</a>
                <a href="{% url 'api_index' %}">API</a>
            {% endif %}

            {% if user.is_staff %}
                <a href="/admin/">Админка</a>
            {% endif %}

            <span class="nav-user">{{ user.get_full_name|default:user.username }}</span>

            <form method="post" action="{% url 'accounts:logout' %}" class="nav-form">
                {% csrf_token %}
                <button type="submit" class="nav-button">Выйти</button>
            </form>

        {% else %}

            <a href="{% url 'accounts:login' %}">Войти</a>
            <a href="{% url 'accounts:register' %}">Регистрация</a>

        {% endif %}
    </nav>
    </div>
  </header>

  <main class="container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
